<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" script-src='unsafe-inline';>
    <title>Ejercicio Beatriz Pascual Sanchez</title>
    <link rel="icon" href="favicon.png"/>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
<body>

  <form name="form__inputs">
      <label for="choose__option1">
        <input
          class="gap__number"
          id="choose__option1"
          type="radio"
          value="4"
          name="choose__option"
        />
        4
      </label>

      <label for="choose__option2">
        <input
          class="gap__number"
          id="choose__option2"
          type="radio"
          value="6"
          name="choose__option"
        />
        6
      </label>

      <label for="choose__option3">
        <input
          class="gap__number"
          id="choose__option3"
          type="radio"
          value="8"
          name="choose__option"
        />
        8
      </label>

      <button class="choose--number">Comenzar</button>

  </form>

  <ul class="card__list"></ul>




  <script src="assets/js/main.js"></script>

</body>
</html>
